@{
    ViewData["Title"] = "About Us";
}
<body class="body1">
    <h1>About Us</h1>

    <p class="lead2">
        Here at Youmotica, automation is our biggest specialization.<br>
        We focus on bringing fully customizable adjustable smarthome items.<br>
        For example, controlling your lights and thermometer<br>
        from within our dashboard. <br>
        Controlling your house has never been easier.
    </p>

</body>