@{
    ViewData["Title"] = "About Us";
}
<body class="body1">
    <h1>About Us</h1>

    <p class="lead2">
        Here at Youmotica, automation is our biggest specialization.<br>
        We focus on bringing fully customizable adjustable smarthome items.<br>
        For example, controlling your lights and thermometer<br>
        from within our dashboard. <br>
        Controlling your house has never been easier.<br><br>
        You can read the information circles on the sides<br>
        to see exactly what our products do in a summarized text.<br>
        For more details you can visit the 'Our Products' page.<br>
    </p>
    <div class="info-cards">
        <p class="about-us-text-1 leadtext">
            MANAGE THE COLOR OF THE LIGHTS<br>
            TO YOUR PERSONAL PREFERENCE
        </p>
        <p class="about-us-text-2 leadtext">
            EASILY CHECK IF<br>
            ANY MOTION HAS BEEN <br>
            DETECTED IN YOUR HOUSE
        </p>
        <p class="about-us-text-3 leadtext">
            CHANGE THE TEMPERATURE<br>
            WITH JUST A SINGLE CLICK
        </p>
    </div>
</body>