@{
    //Author: Damian Sauren
    ViewData["Title"] = "Dashboard";
    @model DeviceModel
}

<h1>Dashboard</h1>

@{
    List<DeviceModel> devices = ViewBag.Devices;

    if (devices.Count > 0)
    {
        foreach (DeviceModel device in devices)
        {
            <p>
                @device.DeviceId
                @device.DeviceName
                @switch (device.DeviceCategory) {
                    case DeviceCategory.Dht:
                        <div>Temp</div>
                        break;
                    case DeviceCategory.MotionSensor:
                        <div>Motion</div>
                        break;
                    case DeviceCategory.Light:
                        <div>Light</div>
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            </p>
        }
    }
    else
    {
        <p>
            No devices found.
        </p>
    }
}



