@{
    ViewData["Title"] = "Dashboard";
    @model DeviceModel
}

<h1>Dashboard</h1>


@foreach (DeviceModel device in ViewBag.Devices)
{
    <p>
        @device.DeviceId
        @device.DeviceName
        @switch (device.DeviceCategory) {
            case DeviceCategory.Dht:
                <div>Temp</div>
                break;
            case DeviceCategory.MotionSensor:
                <div>Motion</div>
                break;
            case DeviceCategory.Light:
                <div>Light</div>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    </p>
}


