@{
    ViewData["Title"] = "Home";
}
<body class="test2">
    <h1 class="display-6">Youmotica, your fully automated smarthome</h1>
    <p class="lead1">
        We - at Youmotica - strive for an efficient but easy way to control your homes.<br>
        Having said that, we want to bring you a dashboard where you can control ALL,<br>
        yes, all of your smarthome products from within a single dashboard.<br><br>
    </p>
</body>