@{
    ViewData["Title"] = "Our Products";
}

<body class="body4">
    <h1>@ViewData["Title"]</h1>

    <div class="images1">

        <div class="product-card">
            <img class="images2" src="https://i.imgur.com/Gawaf01.png" name="motionsensor" width="150px" height="150px">
            <div class="product-beschrijving">
                <h5><b>Motion Sensor</b></h5>
                <p>The Youmotica motion sensor detects movement and you're able to find the information live on the dashboard..</p>
            </div>
        </div>

        <div class="product-card">
            <img class="images2" src="https://i.imgur.com/UDxhMQE.png" name="thermostat" width="150px" height="150px">
            <div class="product-beschrijving">
                <h5><b>Thermostat</b></h5>
                <p>The Youmotica thermostat allows you to easily track and change the temperature from wherever you are.</p>
            </div>
        </div>

        <div class="product-card">
            <img class="images2" src="https://i.imgur.com/7x91D5w.png" name="lights" width="150px" height="150px">
            <div class="product-beschrijving">
                <h5><b>RGB Lamp</b></h5>
                <p>The Youmotica Lamps can be managed from anywhere, you can manually change the color to your preference.</p>
            </div>
        </div>


    </div>
</body>
